body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  

  .section{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }


  .imagegirl{
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px 0px; */
    width: 50%;
    height: auto;
    margin-top: 25%;
    margin-left: 80px;

  }